.search-container
{
    margin:auto;
    display:flex;
    align-items:center;
    z-index:91;
}

.search-container input{
    height:2rem;
    width:30rem;
    margin:0.1rem;
    background-color: rgb(0, 0, 0);
    color: white;
    border:1px solid transparent; 
}

.search-button,.mic
{
    background-color: rgb(37, 34, 34);
    color:rgb(244, 231, 231);
    width:1rem;
    height:1rem; 
    display:flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding:0.55rem;
}
.mic{
    border-radius:100%;
}

.search-button:hover,.mic:hover{
    background-color:black;
}

.videoicon
{
    background-color: rgb(37, 34, 34);
    color:rgb(244, 231, 231);
    padding:0.5rem; 
}


.signin-box
{
    color:#3ea6ff;
    border:2px solid;
    cursor:pointer;
    margin:0.25rem 0.5rem;
    border-radius: 0.1rem;
    display:flex;
    align-items: center;
    padding-top:0rem;
    padding-bottom:0rem;
}


.signin-box:hover{
    background-color: rgb(94, 108, 132);
}
.signin-icon
{
    padding:0 0.3rem;
}
.signin-box p{
    padding-right:0.3rem;
   
}

.searchlistcontainer{
    background-color: white;
    width:30.4rem;
    position:absolute;
    top:3rem;
    height:fit-content;
    z-index:91;
}

.searchlistcontainer p{
    margin:0.25rem 0;
    padding:0.5rem;
    
}

.searchlistcontainer p:hover{
   background-color: rgb(166,202,234,0.526);
   cursor:pointer;
}


